# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @TooTallNate @EndangeredMassa @Ethan-Arrowood @trek

# Unrestricted Paths
